@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';

@import 'partials/fonts';
@import 'partials/header';
@import 'partials/vendor';
@import 'partials/utils';
@import 'partials/components';

body {
  @apply bg-gray-100 text-gray-700 dark:bg-gray-800 dark:text-gray-100;
  overflow-x: hidden;
}

.hero {
  @apply h-screen;
  // min-height: 768px;
}

.container {
  @apply mx-auto max-w-xl px-6 md:max-w-4xl lg:max-w-7xl;
}

.slick-prev:before,
.slick-next:before {
  @apply text-gray-300;
}
.slick-dots {
  li {
    @apply m-0;

    button:before {
      @apply text-xs dark:text-gray-400;
    }

    &:hover button:before {
      @apply text-gray-400;
    }
  }

  li.slick-active {
    button:before {
      @apply text-primary-500;
    }
  }
}
