@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

@import "partials/fonts";
@import "partials/header";
@import "partials/vendor";
@import "partials/utils";

body {
  background-color: #f9f9ff;
  overflow-x: hidden;
}

.hero {
  height: calc(100vh - 70px);
}

.container {
  @apply max-w-xl md:max-w-4xl lg:max-w-7xl mx-auto px-6;
}

.slick-dots {
  li {
    @apply m-0;

    button:before {
      @apply text-xs;
    }

    &:hover button:before {
      @apply text-gray-400;
    }
  }

  li.slick-active {
    button:before {
      @apply text-primary-500;
    }
  }
}
